{% extends 'base/base.html'%}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Crear nuevo correo</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}

                <div class="mt-2">
                    <input type="submit" value="Crear" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
{% endblock %}